---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { readingTime } from "@lib/utils";
import BackToPrevious from "@components/BackToPrevious.astro";
import Link from "@components/Link.astro";
import TableOfContents from "@components/TableOfContents.astro";

export async function getStaticPaths() {
  const certificates = (await getCollection("certificates"))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return certificates.map((certificate) => ({
    params: { slug: certificate.slug },
    props: certificate,
  }));
}
type Props = CollectionEntry<"certificates">;

const certificate = Astro.props;
const { Content, headings } = await certificate.render();
---

<Layout title={certificate.data.title} description={certificate.data.description}>
  <Container>
    <div class="animate">
      <BackToPrevious href="/certificates">Back to certificates</BackToPrevious>
    </div>
    <div class="animate my-10 space-y-1">
      <div class="flex items-center gap-1.5">
        <div class="font-base text-sm">
          <FormattedDate date={certificate.data.date} />
        </div>
        &bull;
        <div class="font-base text-sm">
          {readingTime(certificate.body)}
        </div>
      </div>
      <h1 class="text-3xl font-semibold text-black dark:text-white">
        {certificate.data.title}
      </h1>
      {
        (certificate.data.demoURL || certificate.data.repoURL) && (
          <nav class="flex gap-1">
            {certificate.data.demoURL && (
              <Link href={certificate.data.demoURL} external>
                demo
              </Link>
            )}
            {certificate.data.demoURL && certificate.data.repoURL && <span>/</span>}
            {certificate.data.repoURL && (
              <Link href={certificate.data.repoURL} external>
                repo
              </Link>
            )}
          </nav>
        )
      }
    </div>
    <TableOfContents headings={headings} />
    <article class="animate">
      <Content />
    </article>
  </Container>
</Layout>
